<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <h1 class="card-title text-center mb-0">Converted to PNG</h1>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <%= image_tag @png_image_url, class: "img-fluid rounded", style: "max-width: 100%; height: auto;" %>
                    </div>

                    <div class="d-grid gap-3">
                        <%= link_to "Download PNG Image", @png_image_url, download: "converted_image.png", class: "btn btn-success btn-lg" %>
                        <%= link_to "Back to Image", image_path(@image), class: "btn btn-outline-secondary btn-lg" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>